.App {
  text-align: center;
  background-image: url(https://cdn.shopify.com/s/files/1/2802/1886/products/Lined_Pages-1_1200x.png?v=1565860815);
}

.Header {
  background-color: grey;
  height: 50px;
  opacity: 100%;
}

.CompletedItems {
  background-color: green;
  height: 50px;
  opacity: 100%;
}

.editAndDelete{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
